/**
 * Palette:
 * - #C73E49
 * - #F8F8F3
 * - #2467C0
 * - #114887
 * - #163B63
 */

html,
body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f8f8f3;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

